<head>
<link rel="profile" href="/blahg">
<link rel="icon" 
      type="image/png" 
      href="https://cdn.rawgit.com/a-mar/shiz/master/meh/aab.png">
      
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/a-mar/a-mar.github.io/master/stylesheets/normalize.css" media="screen">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/a-mar/a-mar.github.io/master/stylesheets/lkjf.css" media="screen">
  <!--<link rel="stylesheet" type="text/css" href="https://rawgit.com/a-mar/a-mar.github.io/master/stylesheets/main.css" media="screen">-->
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" media="screen">
  <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/a-mar/a-mar.github.io/master/stylesheets/github-light.css" media="screen">
  <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?lang=tex"></script>
  <!--<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/a-mar/a-mar.github.io/master/stylesheets/asdf.css" media="screen">-->
  <link rel="stylesheet" type="text/css" href="/stylesheets/asdf.css" media="screen">
</head>
