* {
  box-sizing: border-box;
}

body {
  width:59%;
  padding:0px 30px 30px;
  margin-left:auto;
  margin-right:auto;
  /* font: 131%/1.33 'FiraBook', sans-serif; */
  font: 132%/1.34 'SSLig', serif;
  font-weight: 300;
  color: #667;
  word-wrap: break-word;
  font-feature-settings: "liga", "pnum", "cpsp", "case";
  text-rendering: optimizeLegibility;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
  -webkit-font-feature-settings: "liga", "pnum", "cpsp", "case";
  -moz-font-feature-settings: "liga", "pnum", "cpsp", "case";
  -moz-font-feature-settings: "liga", "pnum", "cpsp", "case";
  -ms-font-feature-settings: "liga", "pnum", "cpsp", "case";
  -o-font-feature-settings: "liga", "pnum", "cpsp", "case";
}

/* Page header */
  @media screen and (min-width: 64em) {
    body {
      /* font: 131%/1.33 'FiraBook', sans-serif; } } */
      font: 132%/1.35 'SSLig', serif; } }
  @media screen and (min-width: 42em) and (max-width: 64em) {
    body {
      /* font: 120%/1.2 'FiraBook', sans-serif; } } */
      font: 123%/1.25 'SSLig', serif; } }
  @media screen and (max-width: 42em) {
    body {
      /* font: 100%/1.1 'FiraBook', sans-serif; } } */
      font: 100%/1.15 'SSLig', serif; } }

p {
  /* font-family: 'FiraBook', sans-serif; */
  font-family: 'SSLig', serif;
  font-weight: normal;
  font-style: normal;
  font-feature-settings: inherit;
  text-rendering: optimizeLegibility;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
  -webkit-font-feature-settings: inherit;
  -moz-font-feature-settings: inherit;
  -moz-font-feature-settings: inherit;
  -ms-font-feature-settings: inherit;
  -o-font-feature-settings: inherit;
}

em {
  /* font-family: 'FiraBookIt', sans-serif; */
  color:#FF4900;
  font-family: 'SSLig', serif;
  font-weight: normal;
  font-style: normal;
  font-feature-settings: inherit;
  text-rendering: optimizeLegibility;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
  -webkit-font-feature-settings: inherit;
  -moz-font-feature-settings: inherit;
  -moz-font-feature-settings: inherit;
  -ms-font-feature-settings: inherit;
  -o-font-feature-settings: inherit;
}

strong {
  color:#434355;
  font-family: 'SSReg', serif;
  /* font-family: 'FiraMed', sans-serif; */
  font-weight: normal;
  font-style: normal;
  font-feature-settings: inherit;
  text-rendering: optimizeLegibility;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
  -webkit-font-feature-settings: inherit;
  -moz-font-feature-settings: inherit;
  -moz-font-feature-settings: inherit;
  -ms-font-feature-settings: inherit;
  -o-font-feature-settings: inherit;
}

a {
  color: #1F3847;
  text-decoration: none;
  padding:2px;
  border-bottom:solid 0.7px rgba(255,55,55,0.1);
  font-feature-settings: inherit;
  text-rendering: optimizeLegibility;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
  -webkit-font-feature-settings: inherit;
  -moz-font-feature-settings: inherit;
  -moz-font-feature-settings: inherit;
  -ms-font-feature-settings: inherit;
  -o-font-feature-settings: inherit;
}
  a:hover {
    background-color: rgba(255,55,55,0.2);
    border-radius: 9px;
    height: 100%;
    padding:2px;
  }

h1, h2, h3, h4, h5, h6 {
  color:#00B4F1;
  font-family:'Nuvo', sans-serif;
  font-weight: normal;
  font-feature-settings: inherit;
  text-rendering: optimizeLegibility;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
  -webkit-font-feature-settings: inherit;
  -moz-font-feature-settings: inherit;
  -moz-font-feature-settings: inherit;
  -ms-font-feature-settings: inherit;
  -o-font-feature-settings: inherit;
}

h1 { 
    display: block;
    font-size: 200%;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
}

h2 {
    display: block;
    font-size: 141%;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
}

h3 { 
    display: block;
    font-size: 115%;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

{ 
    display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
}

h5 { 
    display: block;
    font-size: 89%;
    text-transform:uppercase;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
}

h6 { 
    display: block;
    font-size: 82%;
    text-transform:uppercase;
    font-variant: small-caps;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
}

.page-header, .project-tagline {
  color:#00B4F1;
  font-weight:300;
  font-family:'Bauer', sans-serif;
  text-align: center;
  font-size:4.5rem;
  margin: 0;
  font-feature-settings: "kern" 1, "liga" 1, "ss02" 1, "ss03" 1, "titl" 1, "tnum" 1, "lnum" 1;
  text-transform: none;
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "ss02" 1, "ss03" 1, "titl" 1, "tnum" 1, "lnum" 1;
  -moz-font-feature-settings: "kern" 1, "liga" 1, "ss02" 1, "ss03" 1, "titl" 1, "tnum" 1, "lnum" 1;
  -moz-font-feature-settings: "kern=1, liga=1, ss02=1, ss03=1, titl=1, tnum=1, lnum=1";
  -ms-font-feature-settings: "kern" 1, "liga" 1, "ss02" 1, "ss03" 1, "titl" 1, "tnum" 1, "lnum" 1;
  -o-font-feature-settings: "kern" 1, "liga" 1, "ss02" 1, "ss03" 1, "titl" 1, "tnum" 1, "lnum" 1;
}
  
.page-header a {
  color: #FEE;
  font-weight:300;
  text-decoration: none;
}
    .page-header a:hover {
      color: #444;
      text-decoration:none;
      background-color:transparent;
    }

#header{
  border-bottom: solid 1px #eff0f1;
  margin-bottom:1rem;
  padding-bottom:1rem;
  font-family:'Nuvo', sans-serif;
  font-weight: normal;
  font-style: normal;
}

#header-left {
  float:left;
  text-align:left;
  margin-left:0px;
}

#header-right {
  text-align:right;
  margin-right:0;
  overflow: hidden;
}

#header-left a {
      font-size:2.5rem;
      color:#00B4F1;
      font-family:'Nuvo', sans-serif;
      border-bottom:none;
      background-color:transparent;
      display: block;
      margin: 1em 0;
}
    #header-left a:hover {
      color: rgba(0,99,133,0.5);
      background-color:transparent;
      display: block;
      margin: 1em 0;
    }

/* Page header */
  @media screen and (min-width: 64em) {
    .page-header {
      padding: 1.3rem 0; } }
  @media screen and (min-width: 42em) and (max-width: 64em) {
    .page-header {
      padding: 0.9rem 0; } }
  @media screen and (max-width: 42em) {
    .page-header {
      padding: 0.5rem 0; } }

/* Project tagline */
  @media screen and (min-width: 64em) {
    .project-tagline {
      font-size: 4.5rem; } }
  @media screen and (min-width: 42em) and (max-width: 64em) {
    .project-tagline {
      font-size: 3.5rem; } }
  @media screen and (max-width: 42em) {
    .project-tagline {
      font-size: 2.5rem; } }

.site-footer {
  font-family:'Nuvo', sans-serif;
  font-weight:300;
  padding-top: 3rem;
  margin-top: 3rem;
  border-top: solid 1px #eff0f1;
  font-size: 83%;
}
  @media screen and (min-width: 64em) {
    .site-footer {
      font-size: 1.1rem; } }
  @media screen and (min-width: 42em) and (max-width: 64em) {
    .site-footer {
      font-size: 1rem; } }
  @media screen and (max-width: 42em) {
    .site-footer {
      font-size: 0.9rem; } }

.site-footer a {
  border-bottom:none;
}

.site-footer-owner, .site-footer-credits, .site-footer-other {
  display: block;
  color: #819198;
}

.site-footer-owner {
  text-align:center;
}

.site-footer-credits {
  text-align:left;
  float:left;
}

.site-footer-other {
  text-align:right;
  float:right;
}

.site-footer-other li {
    display: inline;
    text-transform:lowercase;
    margin-left:10px;
}

li.displayed {
    display: inline;
    margin-right:100px;
    margin-left:-40px;}

nav ul li {
    display: inline;
    margin-right:0px;
    margin-left:30px;
    font-family:'Nuvo', sans-serif;
    font-size: 90%;
}

  nav a {
    color: #1F3847;
    text-decoration: none;
    padding: 13px 15px;
    font-weight: normal;
    border-bottom:none;
    }
      nav a:hover {
        color: #162833;
        background-color: rgba(0,99,133,0.1);
        padding: 13px 15px;
        border-radius: 5px;
      }
  
  @media screen and (min-width: 64em) {
    nav a {
      padding: 13px 15px;
    }
    nav a:hover {
      padding: 13px 15px; } }
  @media screen and (min-width: 42em) and (max-width: 64em) {
    nav a {
      padding: 7px 9px;
    }
    nav a:hover {
      padding: 7px 9px; } }
  @media screen and (max-width: 42em) {
    nav a {
      padding: 5px 7px;
    }
    nav a:hover {
      padding: 5px 7px; } }

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

li:not(:last-child) {
    padding-bottom: 6px;
}
